#sidebar {

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 265px;
  background: #FFFFFF;
  transition: width ease .5s;
  box-shadow: 5px 8px 25px 0px grey;
  position:fixed;

}

#sidebar h1{

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color:white;
}

#sidebar ul {
  
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: white;
}

.logo {
    width: 250px;
    height: 166x;
    background-position: center;
    background-size: cover;
    margin-bottom: none;
}

.divider {
    display: block;
    margin-top:none;
    margin-bottom: 1em;
    margin-left: 20px;
    margin-right: 20px;
    border-style: inset;
    border-width: 1px;
}

#options li {
  font-family:"trebuchet ms";
  font-size:20px;
  color:blue;
  list-style-type: none;
  margin-left:0px;
}

#options .one {
  font-size:20px;
}

#options .two {
  font-size:16px;
}

#options a:hover {
  margin-left:10px;
  text-decoration: none;
  animation-duration:3s;
}