#sidebar {

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 265px;
  background: #1C6BA0;
  transition: width ease .5s;

  -webkit-transition: width ease .5s;
  -moz-transition: width ease .5s;
  -o-transition: width ease .5s;
}

#sidebar h1{

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
